<div class="container">
<h5 class="title mx-5 my-3">会員情報編集</h5>
  <div class="row">
    <div class="col-9">
      <%= form_with model:@customer, url: "/customers", method: :patch do |f| %>
        <div class="field row">
          <label for="inputName" class="col-3 col-form-label">氏名</label>
          <div class="col-3">
            <%= f.text_field :last_name, class:'form-control', id:"inputName" %>
          </div>
          <div class="col-3">
            <%= f.text_field :first_name, class:'form-control', id:"inputName" %>
          </div>
        </div>

        <div class="field row">
          <label for="inputKana" class="col-3 col-form-label">フリガナ</label>
          <div class="col-3">
            <%= f.text_field :last_name_kana, class:'form-control', id:"inputKana" %>
          </div>
          <div class="col-3">
            <%= f.text_field :first_name_kana, class:'form-control', id:"inputKana" %>
          </div>
        </div>

        <div class="field row">
          <label for="inputPostal_code" class="col-3 col-form-label">郵便番号</label>
          <div class="col-3">
            <%= f.text_field :postal_code, class:'form-control', id:"inputPostal_code" %>
          </div>
        </div>

        <div class="field row">
          <label for="inputAddress" class="col-3 col-form-label">住所</label>
          <div class="col-9">
            <%= f.text_field :address, class:'form-control', id:"inputAddress" %>
          </div>
        </div>
        <div class="field row">
          <label for="inputTelephone_number" class="col-3 col-form-label">電話番号</label>
          <div class="col-3">
            <%= f.text_field :telephone_number, class:'form-control', id:"inputTelephone_number" %>
          </div>
        </div>
        <div class="field row">
          <label for="inputEmail" class="col-3 col-form-label">メールアドレス</label>
          <div class="col-3">
            <%= f.email_field :email, class:'form-control', id:"inputEmail" %>
          </div>
        </div>
        <div class="row justify-content-around">
          <%= f.submit "編集内容を保存", class:'btn btn-success col-4' %>
          <%= link_to "退会する", customers_confirm_path, class:"btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
  </div>