<div class="container">
  <h5 class="title">商品一覧</h5>
    <div class="row no-gutters">
      <div class="col">
        <table class="table">
          <thead>
            <tr class="table-light">
              <th scope="col">商品ID</th>
              <th scope="col">商品名</th>
              <th scope="col">税抜価格</th>
              <th scope="col">ジャンル</th>
              <th scope="col">ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @items.each do |item| %>
              <% if params[:item_name].present? && item.name.include?(params[:item_name]) %>
              <tr>
                <th scope="row"><%= item.id %></th>
                <td><%= link_to item.name, admin_item_path(item.id), class:'text-dark' %></td>
                <td><%= item.price %></td>
                <td><%= item.genre.name %></td>
                <td><% if item.is_sale %>
                      <p class="text-success"><strong>販売中</strong></p>
                    <% elsif %>
                      <p class="text-muted"><strong>販売停止中</strong></p>
                    <% end %>
                </td>
              </tr>
              <% elsif params[:item_name].blank? %>
                <tr>
                <th scope="row"><%= item.id %></th>
                <td><%= link_to item.name, admin_item_path(item.id), class:'text-dark' %></td>
                <td><%= item.price %></td>
                <td><%= item.genre.name %></td>
                <td><% if item.is_sale %>
                      <p class="text-success"><strong>販売中</strong></p>
                    <% elsif %>
                      <p class="text-muted"><strong>販売停止中</strong></p>
                    <% end %>
                </td>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
        <div class="page d-flex justify-content-center">
          <%= paginate @items %>
        </div>
      </div>
    </div>
</div>