<div class="container">
  <h5 class="title my-4">商品詳細</h5>
  <div class="row no-gutters my-5">
    <div class="col-lg-4">
      <%= image_tag @item.get_image(300,300) %>
    </div>

    <div class="col-lg-4">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th scope="row">商品名</th>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <th scope="row">商品説明</th>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <th scope="row">ジャンル</th>
            <td><%= @item.genre.name %></td>
          </tr>
          <tr>
            <th scope="row">税込価格<br>(税抜価格)</th>
            <td><strong><%= @item.with_tax_price.to_s(:dalimited) %>
                (<%= @item.price %>)</strong>円
            </td>
          </tr>
          <tr>
            <th scope="row">販売ステータス</th>
            <td><% if @item.is_sale %>
                  <p class="text-success"><strong>販売中</strong></p>
                <% elsif %>
                  <p class="text-muted"><strong>販売停止中</strong></p>
                <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-lg-6 offset-2">
        <%= link_to "編集する", edit_admin_item_path(@item), class:'btn btn-success px-4' %>
      </div>
    </div>
  </div>
</div>