<div class="container">
  <h5 class="mx-5 my-3">管理者ログイン</h5>
  <div class="row no-gutters">
    <div class="col mb-5">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field text-center">
        <label for="inputEmail" class="col-form-label col-2">メールアドレス</label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", id:"inputEmail", placeholder:"sample@example.com", class:"col-4 rounded" %>
      </div>

      <div class="field text-center">
        <label for="inputPassWord" class="col-form-label col-2">パスワード</label>
        <%= f.password_field :password, autocomplete: "current-password", id:'inputPassWord', class:"col-4 rounded" %>
      </div>

      <div class="actions offset-5 my-4">
        <%= f.submit "ログイン", class:'btn btn-primary px-5' %>
      </div>
    <% end %>

    <%= render "admin/shared/links" %>
    </div>
  </div>
</div>