<div class="container">
  <h5 class="title">注文情報確認</h5>
  <div class="row">
    <div class="col-7">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">商品名</th>
            <th scope="col">単価(税込)</th>
            <th scope="col">数量</th>
            <th scope="col">小計</th>
          </tr>
        </thead>
        <tboby>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= image_tag cart_item.item.get_image(50,50) %>
              <%= cart_item.item.name %>
            </td>
            <td><%= cart_item.item.with_tax_price.to_s(:dalimited) %></td>
            <td><%= cart_item.amount %></td>
            <td><%= cart_item.subtotal %> </td>
          </tr>
        <% end %>
        </tboby>
      </table>
    </div>

    <div class="col-4">

    </div>
  </div>
</div>