<div class="container">
  <h5 class="title">注文履歴詳細</h5>
    <div class="row">
      <div class="col-7">
        <h7><strong>注文情報</strong></h7>
        <table class="table table-bordered border-brack">
          <tr>
            <th scope="row">注文日</th>
            <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
          </tr>
          <tr>
            <th scope="row">配送先</th>
            <td>〒<%= @order.postal_code %><br>
                <%= @order.address %><br>
                <%= @order.name %>
            </td>
          </tr>
          <tr>
            <th scope="row">支払方法</th>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <th scope="row">ステータス</th>
            <td><%= @order.status_i18n %></td>
          </tr>
        </table>
      </div>
      <div class="col-4">
        <h7><strong>請求金額</strong></h7>
        <table class="table table-bordered border-brack">
          <tr>
            <th scope="row">商品合計</th>
            <td><%= @total %></td>
          </tr>
          <tr>
            <th scope="row">配送料</th>
            <td><%= @order.postage %></td>
          </tr>
          <tr>
            <th scope="row"><strong>ご請求額</strong></th>
            <td><%= @order.billing_amount %></td>
          </tr>
        </table>
      </div>
    </div>
    <h7><strong>注文内容</strong></h7>
    <div class="row">
      <div class="col-9">
        <table class="table table-bordered border-brack">
          <thead>
            <tr>
              <th scope="col">商品</th>
              <th scope="col">単価（税込）</th>
              <th scope="col">個数</th>
              <th scope="col">小計</th>
            </tr>
          </thead>
          <tbody>
            <% @order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.price %></td>
              <td><%= order_detail.amount %></td>
              <td><%= order_detail.subtotal %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
</div>