<div class="container mx-1">
  <div class="row no-gutters">
    <%= render 'search', genres: @genres %>

    <div class="col-10">
      <div class="row">
        <h5 class="title"><strong>商品一覧</strong></h5>
        <div class="count">（全<%= @items.total_count %>件）</div>
      </div>
      <div class="row">
      <% @items.each do |item| %>
        <div class="col-3">
          <%= link_to item_path(item.id) do %>
            <div class="list-item text-dark">
              <%= image_tag item.image, class:"card-img", size: "150x150" %>
              <p><b><%= item.name %></b></p>
              <p><b>￥<%= item.price %></b></p>
            </div>
          <% end %>
        </div>
      <% end %>
      </div>
      <div class="page d-flex justify-content-center">
        <%= paginate @items %>
      </div>
    </div>
  </div>
</div>