<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <nav class="navber navber-expand-lg">
      <div class="container">
        <h2  class="navber-brand m-4">
          <%= link_to "LOGO", root_path, class:'px-5 py-0.5 text-dark border border-dark' %>
        </h2>

      </div>
      </nav>
    </header>
    <main>
    <div class="container">
      <%= yield %>
    </div>
    </main>
  </body>
</html>
