<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/09b1dd4dc3.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="d-flex flex-column vh-100">
    <header class="border-bottom border-dark">
      <nav class="navber navber-expand-lg">
      <div class="container-fluid">
        <div class="row my-auto">
          <h2  class="navber-brand m-4">
            <%= link_to "LOGO", root_path, class:'px-5 py-0.5 text-dark border border-dark' %>
          </h2>
          <% if customer_signed_in? %>
            <div class="col-2 offset-1 my-auto">ようこそ、<%= current_customer.last_name %>さん！</div>
          <% end %>
          <div class="col-auto ml-auto">
            <div class="item my-2">
              <% if customer_signed_in? %>
                <%= link_to "マイページ", customers_path, class:'btn btn-sm border border-secondary' %>
                <%= link_to "商品一覧", items_path, class:'btn btn-sm border border-secondary' %>
                <%= link_to "カート", cart_items_path, class:'btn btn-sm border border-secondary' %>
                <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:'btn btn-sm border border-secondary' %>
              <% elsif admin_signed_in? %>
                <%= link_to "商品一覧", admin_items_path, class:'btn btn-sm border border-secondary' %>
                <%= link_to "会員一覧", admin_customers_path, class:'btn btn-sm border border-secondary' %>
                <%= link_to "注文履歴一覧", admin_path, class:'btn btn-sm border border-secondary' %>
                <%= link_to "ジャンル一覧", admin_genres_path, class:'btn btn-sm border border-secondary' %>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:'btn btn-sm border border-secondary' %>
              <% else %>
                <%= link_to "About", about_path, class:'btn btn-sm ml-2 border border-secondary' %>
                <%= link_to "商品一覧", items_path, class:'btn btn-sm ml-2 border border-secondary' %>
                <%= link_to "新規登録", new_customer_registration_path, class:'btn btn-sm ml-2 border border-secondary' %>
                <%= link_to "ログイン", new_customer_session_path, class:'btn btn-sm ml-2 border border-secondary' %>
              <% end %>
            </div>


            <div class="col-auto ml-auto text-right">
              <% if admin_signed_in? %>
                <%= form_with url: admin_items_path, method: :get do |f| %>
                  <%= f.text_field :item_name, placeholder:"Search" %>
                  <%= button_tag type: "submit", class:"btn" do %>
                    <i class="fas fa-magnifying-glass"></i>
                  <% end %>
                <% end %>
              <% else %>
                <%= form_with url: items_path, method: :get do |f| %>
                  <%= f.text_field :item_name, placeholder:"Search" %>
                  <span><%= button_tag type: "submit", class:"btn" do %>
                    <i class="fas fa-magnifying-glass"></i>
                  <% end %>
                  </span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      </nav>
    </header>
    <main class="mt-4">
      <%= yield %>
    </main>

    <footer class="border-top border-dark pt-5 pb-4">
    </footer>
  </body>
</html>
